@import "tailwindcss";
@import '@fontsource-variable/jetbrains-mono';

@theme {
    --font-mono: "Jetbrains Mono", monospace;
}

:root {
    font-size: 18px;
}

body {
    font-family: var(--font-mono), monospace;
}